<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            
                
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text" 
                           name="nombre" 
                           [(ngModel)]="usuario.nombre"
                           placeholder="Nombre"                           
                           required>

                    <span class="focus-input100"></span>
                </div> 


                
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text" 
                           name="apellido" 
                           [(ngModel)]="usuario.apellido"
                           placeholder="Apellido"                           
                           required>

                    <span class="focus-input100"></span>
                </div>

                
                <label>Tipo identificación:</label><hr>
                <div class="wrap-input100 m-b-16">                    
                    <input class="input100" 
                           type="email" 
                           name="email" 
                           [(ngModel)]="usuario.tipoIdentificacion"> 
                    <span class="focus-input100"></span>
                </div>

                <label>Número identificación:</label><hr>
                <div class="wrap-input100 m-b-16">                    
                    <input class="input100" 
                           type="email" 
                           name="email" 
                           [(ngModel)]="usuario.numeroIdentificacion"> 
                    <span class="focus-input100"></span>
                </div>


                
                <label>Empresa:</label><hr>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="email" 
                           name="email" 
                           [(ngModel)]="usuario.empresa">                    
                </div>

                
                <label>Correo:</label><hr>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text"  
                           [(ngModel)]="usuario.correoElectronico">                    
                </div>           
        </div>
    </div>
</div>

